@model Portfolio.Models.ResumeModel

@{
    ViewData["Title"] = "Detaljer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detaljer</h1>

<div>
    <h4>CV</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Company)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearEnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsOngoing)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsOngoing)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Ändra</a> |
    <a asp-action="Index">Tillbaka till listan</a>
</div>
