@model IEnumerable<Portfolio.Models.FileModel>

@{
    ViewData["Title"] = "Admin - Filer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Admin - Filer</h1>

<p>
    <a class="btn btn-primary my-2" asp-action="Create">Skapa ny</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileName)
            </th>
            <th>
                Ladda ner
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileName)
            </td>
            <td>
                <a href='~/file/@Html.DisplayFor(modelItem => item.FileName)' download>@Html.DisplayFor(modelItem => item.Title)</a>
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Ändra</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Detaljer</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Ta bort</a>
            </td>
        </tr>
}
    </tbody>
</table>
