@model IEnumerable<Portfolio.Models.ProjectModel>

@{
    ViewData["Title"] = "Admin - Projekt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Admin - Projekt</h1>

<p>
    <a class="btn btn-primary my-2" asp-action="Create">Skapa ny</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Link)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GitHub)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Link)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GitHub)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Ändra</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Detaljer</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Ta bort</a>
            </td>
        </tr>
}
    </tbody>
</table>
